<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
{% include 'booster-seo' %}
  <meta name="google-site-verification" content="Uws7wopOnpLd18Uij3zFm4e5TrQZ5sZFh9EmjLMYZVs" />
 {% render 'pagefly-head' %}
 {%- render 'layouthub_header' -%}
<meta name="google-site-verification" content="BMb3TGFWbt7mQXhaNGs7zpxpR1XDjlmZ6I0etVcdyrw" />
  <!-- Alchemy 4.0.0 -->
  <link rel="preload" href="{{ 'styles.css' | asset_url }}" as="style">
  {% render 'head-tag' %}
  <meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
  <meta name="theme-color" content="{{ settings.col_btn_bg }}">
  <meta name="facebook-domain-verification" content="jpvjel50aufyeapcyqvonl97m9g7dh" />

  {% comment %}<title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>{% endcomment %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
  {% render 'social-meta-tags' %}
  {{ 'styles.css' | asset_url | stylesheet_tag }}
  {{ 'custom.css' | asset_url | stylesheet_tag }}
  {{ content_for_header }}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    window.theme = window.theme || {};
    theme.money_format = {{ shop.money_format | json }};
    theme.money_container = '.theme-money';
    window.lazySizesConfig = window.lazySizesConfig || {
      expFactor: 2.0
    };
    theme.strings = {
      previous: {{ 'general.accessibility_labels.previous' | t | json }},
      next: {{ 'general.accessibility_labels.next' | t | json }},
      close: {{ 'general.accessibility_labels.close' | t | json }},
      imageSlider: {{ 'general.slider.images' | t | json }},
      addressError: {{ 'map.errors.address_error' | t | json }},
      addressNoResults: {{ 'map.errors.address_no_results' | t | json }},
      addressQueryLimit: {{ 'map.errors.address_query_limit_html' | t | json }},
      authError: {{ 'map.errors.auth_error' | t | json }},
      priceNonExistent: {{ 'products.variant.non_existent' | t | json }},
      buttonDefault: {{ 'products.product.add_to_cart' | t | json }},
      buttonNoStock: {{ 'products.variant.no_stock' | t | json }},
      buttonNoVariant: {{ 'products.variant.non_existent' | t | json }},
      onlyXLeft: {{ 'products.labels.only_x_left' | t: quantity: '[[ quantity ]]' | json }},
      products_product_unit_price_separator: {{ 'products.product.unit_price_separator' | t | json }},
      productsListingFrom: {{ 'products.listing.from' | t | json }},
      searchResultsPages: {{ 'general.quick_search.pages' | t | json }},
      searchSeeAll: {{ 'layout.search.see_all' | t | json }},
      cartTermsConfirmation: {{ 'cart.terms.confirmation' | t | json }},
      addingToCart: {{ 'products.product.adding_to_cart' | t | json }},
      addedToCart: {{ 'products.product.added_to_cart' | t | json }}
    };
    theme.routes = {
      search_url: '{{ routes.search_url }}',
      cart_url: '{{ routes.cart_url }}',
      cart_add_url: '{{ routes.cart_add_url }}'
    };
    theme.settings = {
      page_use_contrast_logo: {{ settings.page_use_contrast_logo }}
    };
    theme.enableOverlapTransition = {{ settings.enable_overlay_transition | json }};
    theme.productImageAlign = {{ settings.product_image_align | json }};

    theme.checkForBannerBehindHeader = () => {
      const bodyClasses = document.body.classList;
      const bannerCandidate = document.querySelector('.main-content > .banner-candidate:first-child');
      const isCustomerArea = bodyClasses.contains('template-customer-area');
      bodyClasses.remove('has-banner', 'has-text-banner', 'no-banner', 'show-contrast-logo', 'header-overlapping');

      if ((bannerCandidate && !bannerCandidate.querySelector('.spaced-section-sm')) || isCustomerArea) {
        if (document.querySelector('.pageheader__contents--overlap')) {
          bodyClasses.add('header-overlapping');
        }
        if (bannerCandidate && bannerCandidate.querySelector('.banner--no-image') || isCustomerArea) {
          bodyClasses.add('has-text-banner');
          if (theme.settings.page_use_contrast_logo) {
            bodyClasses.add('show-contrast-logo');
          }
        } else {
          bodyClasses.add('has-banner');
        }
      } else {
        bodyClasses.add('no-banner');
      }
    }
  </script>

  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-824267120"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-824267120');
</script>

<!--MNTN Tracking Pixel-->
<!-- INSTALL ON ALL PAGES OF SITE-->
<script type="text/javascript">
	(function(){"use strict";var e=null,b="4.0.0",
	n="35820",
	additional="term=value",
	t,r,i;try{t=top.document.referer!==""?encodeURIComponent(top.document.referrer.substring(0,2048)):""}catch(o){t=document.referrer!==null?document.referrer.toString().substring(0,2048):""}try{r=window&&window.top&&document.location&&window.top.location===document.location?document.location:window&&window.top&&window.top.location&&""!==window.top.location?window.top.location:document.location}catch(u){r=document.location}try{i=parent.location.href!==""?encodeURIComponent(parent.location.href.toString().substring(0,2048)):""}catch(a){try{i=r!==null?encodeURIComponent(r.toString().substring(0,2048)):""}catch(f){i=""}}var l,c=document.createElement("script"),h=null,p=document.getElementsByTagName("script"),d=Number(p.length)-1,v=document.getElementsByTagName("script")[d];if(typeof l==="undefined"){l=Math.floor(Math.random()*1e17)}h="dx.mountain.com/spx?"+"dxver="+b+"&shaid="+n+"&tdr="+t+"&plh="+i+"&cb="+l+additional;c.type="text/javascript";c.src=("https:"===document.location.protocol?"https://":"http://")+h;v.parentNode.insertBefore(c,v)})()
</script>
  
</head>

{%- liquid
  assign body_classes = ''

  if template != blank
    assign template_name = template | replace: '.', ' ' | truncatewords: 1, '' | handle
    assign body_classes = 'template-' | append: template_name
  endif

  if template contains 'customers'
    assign body_classes = body_classes | append: ' template-customer-area'
  endif
-%}

<body class="{{ body_classes }}" id="{{ page_title | handle }}">
  {%- if settings.enable_transition_in -%}
    <script>if ('IntersectionObserver' in window) document.body.classList.add('cc-animate-enabled');</script>
  {%- endif -%}

  <a class="skip-link visually-hidden" href="#main">{{ 'general.accessibility_labels.skip_to_content' | t }}</a>
  {% section 'announcement' %}
  {% section 'header' %}

  <main id="main">
    {%- if template.name == 'article' -%}
      <article>
    {%- endif -%}

    <div class="main-content">
      <!--LayoutHub-Workspace-Start-->{{ content_for_layout }}<!--LayoutHub-Workspace-End-->
    </div>

    {%- if template.name == 'article' -%}
      </article>
    {%- endif -%}
  </main>

  <script>theme.checkForBannerBehindHeader();</script>

  {% section 'popup' %}
  {% section 'footer' %}

  <div class="hidden" aria-hidden="true">
    {%- form 'customer', id: 'signup-form-response' -%}
      {%- if form.posted_successfully? -%}
        <div class="newsletter-response success">
          <div class="h3 no-margin">{{ 'layout.signup.post_success' | t }}</div>
        </div>
      {%- elsif form.errors -%}
        <div class="newsletter-response">
          {%- for field in form.errors -%}
            <p class="error">{{ field | capitalize }} - {{ form.errors.messages[field] }}</p>
          {%- endfor -%}
        </div>
      {%- endif -%}
    {%- endform -%}
  </div>

  <script src="{{ 'vendor.js' | asset_url }}"></script>
  <script src="{{ 'theme.js' | asset_url }}"></script>
 {% include 'smile-initializer' %}

  <!--Start Stamped.io Bazaarvoice Integration-->
<script>
window.IGLOO = window.IGLOO || {
"bbout_element_id" : "ioBlackBox", // Populate #ioBlackBox input with device fingerprint
"loader" : {
"version" : "general5"
}
};

window.IGLOO.bb_callback = function(blackBoxString, isComplete) {
if (isComplete == true) {
var btnSend = document.querySelector('#stamped-main-widget');
if (btnSend) {
btnSend.setAttribute('data-user-reference', blackBoxString);
}
}
};


/*
Copyright(c) 2018, iovation, inc. All rights reserved.
*/
(function B(){function v(e,a){var b={},c;for(c=e.length-1;-1<c;c--)0<c?b[c]=function(){var d=c;return function(){return w(e[d],b[d+1],a)}}():w(e[c],b[c+1],a)}function w(e,n,k){var c=document.createElement("script"),f,g,l;l=A(a[k]&&a[k].staticVer&&a[k].staticVer+"/"||e[1]);e[0]=e[0].replace("##version##",l);f=e[0].split("?")[0].split("/");g=f[f.length-1].split(".")[0];u.test(e[1])&&l!==e[1]&&d("loader: Overriding configured version with staticVer.");c.setAttribute("src",e[0]);c&&c.addEventListener?
c.addEventListener("error",function(){b[k+"_"+g+"_load_failure"]="true"}):c.attachEvent&&c.attachEvent("onerror",function(){b[k+"_"+g+"_load_failure"]="true"});n&&(c.onload=n);document.getElementsByTagName("head")[0].appendChild(c)}function d(e){if("function"===typeof a.trace_handler)try{a.trace_handler(e)}catch(b){}}function f(b,a){var d=null!==b&&void 0!==b;return!d||"1"!==b.toString()&&"true"!==b.toString().toLowerCase()?!d||"0"!==b.toString()&&"false"!==b.toString().toLowerCase()?"boolean"===
typeof a?a:!1:!1:!0}function A(a){d("********** version before replace: "+a+" **********");d('localNamespace[ "url_dots_to_dashes" ]: '+b.url_dots_to_dashes);d("numericVersionPattern.test( output ): "+u.test(a));b.url_dots_to_dashes&&u.test(a)&&(a=a.replace(/\./g,"-"));d("version after replace: "+a);return a}var g=window,x=g.io_global_object_name||"IGLOO",a=g[x]=g[x]||{},b=a.loader=a.loader||{},y=[],z=[],u=/^[0-9]{1,3}(\.[0-9]{1,3}){2}\/$/;if(b.loaderMain)return d("loader: Loader script has already run, try reducing the number of places it's being included."),
!1;b.loaderMain=B;b.loaderVer="5.2.2";(function(){var e=f(b.tp,!0),n=f(b.fp_static,!0),k=f(b.fp_dyn,!0),c=f(b.enable_legacy_compatibility),u=f(b.tp_split),v=b.tp_host&&b.tp_host.replace(/\/+$/,"")||"https://mpsnare.iesnare.com",l=b.fp_static_override_uri,m=void 0!==b.uri_hook?b.uri_hook+"/":"/iojs/",p=(b.version||"versionOrAliasIsRequired")+"/",w=b.subkey?g.encodeURIComponent(b.subkey)+"/":"",x=b.tp_resource||"wdp.js",q=b.tp_host?"&tp_host="+g.encodeURIComponent(b.tp_host):"",C=l?"&fp_static_uri="+
g.encodeURIComponent(l):"",r,t,h;b.tp_host=v;r=f(a.enable_flash,!0);t=a.io&&a.io.enable_flash;h=a.fp&&a.fp.enable_flash;t=void 0!==t&&null!==t?f(t,!0):r;void 0!==h&&null!==h?h=f(h,!0):t=r;r=t?"&flash=true":"&flash=false";h=h?"&flash=true":"&flash=false";q="?loaderVer="+b.loaderVer+"&compat="+c+"&tp="+e+"&tp_split="+u+q+"&fp_static="+n+"&fp_dyn="+k+C;e||n||d("loader: Not currently configured to load fp_static or tp script(s).");a.fp&&a.fp.staticVer&&a.fp.staticVer+"/"!==p&&(p=A(a.fp.staticVer+"/"),
d("loader: Configured version replaced with that from pre-loaded static script."));n||a.fp&&a.fp.staticMain?(m=(m+"##version##"+w).replace(/\/\//g,"/"),n&&(a.fp&&a.fp.staticMain?c&&!a.fp.preCompatMain&&d("loader: enable_legacy_compatibility on, but included static does not have the compat wrapper."):l?y.push([l,""]):y.push([m+"static_wdp.js"+q+h,p])),!k||a.fp&&a.fp.dynMain?a.fp&&a.fp.dynMain&&d("loader: First party dynamic script has already been loaded, disable fp_dyn or make sure you're not manually including the dynamic file separately."):
y.push([m+"dyn_wdp.js"+q+h,p])):f(b.fp_dyn)&&d("loader: Invalid Config, first party dynamic script set to load without static.");e&&(a.io&&a.io.staticMain?d("loader: Third party script has already been loaded."):(m=v+"/##version##"+w,u?(z.push([m+"static_wdp.js"+q+r,p]),z.push([m+"dyn_wdp.js"+q+r,p]),b.tp_resource&&d("loader: Invalid Config: both tp_resource and tp_split set. Ignoring tp_resource.")):z.push([m+x+q+r,p])))})();v(y,"fp");v(z,"io")})();

</script>
<!--End Stamped.io Bazaarvoice Integration-->

 <!-- Begin ReCharge code -->
{% include 'subscription-theme-footer' %}
<!-- End ReCharge code -->

<!-- Stamped - Begin script -->
<script async type="text/javascript" id="stamped-script-widget" data-api-key="pubkey-uQe4u66vxpOket3U65R1JZQL7RTUp0" src="https://cdn1.stamped.io/files/widget.min.js"></script>
<!-- Stamped - End script -->

{%- render 'layouthub_footer' -%} 
 {% include 'appikon-discounts' %}  
    <script>
  $('body').on('click','.btn-buy', function() {
    $('.qty-product3-wrapper .product-add button').trigger('click');
  });
  $('body').on('click','.btn-buy2', function() {
    $('#shopify-section-template--15140152508483__dc608ae4-d3d7-4461-9a1f-6eb7fe21993f .qty-product3-wrapper .product-add button').trigger('click');
  });
  </script>
{% render 'rebuy-smartcart-extensions' %}
{{ '//cdn.shopify.com/s/files/1/0194/1736/6592/t/1/assets/booster-page-speed-optimizer.js?23' | script_tag }}
</body>
</html>
